@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
:root{
	--bg-btn:black;
	--br-btn:rgb(7, 211, 7);
	--bg-section: radial-gradient(circle, rgba(0,255,29,1) 0%, rgba(17,121,9,1) 0%, rgba(0,0,0,1) 100%);
	--color:white;
    --bar-color:green;
    --fill-size:0%;
    --font-size:clamp(1rem,2.5vw,1.0rem);
}
::-webkit-scrollbar{
	display: none;
}
body{
	margin: 0;
	font-family: "Audiowide",sans-serif;
	font-weight: 400;
  font-style: normal;
	color: var(--color);
}

a{
	text-decoration: none;
}

section{
	background: var(--bg-section);
	display:grid;
	/* justify-content: center;
	align-items: center; */
	width: auto;
	height: 100%;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr 15fr;
	grid-template-areas: 
	"header header header"
	"content content content"
	;
}
@keyframes fondoRadial {
    0% {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(17, 121, 9, 1) 60%, rgb(5, 136, 20) 100%);
    }
    25% {
        background: radial-gradient(circle, rgba(5, 25, 5, 1) 0%, rgba(15, 110, 8, 1) 60%, rgb(4, 126, 18) 100%);
    }
    50% {
        background: radial-gradient(circle, rgba(10, 50, 10, 1) 0%, rgba(13, 100, 7, 1) 60%, rgb(3, 116, 16) 100%);
    }
    75% {
        background: radial-gradient(circle, rgba(5, 25, 5, 1) 0%, rgba(15, 110, 8, 1) 60%, rgb(4, 126, 18) 100%);
    }
    100% {
        background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(17, 121, 9, 1) 60%, rgb(5, 136, 20) 100%);
    }
}
header{
	grid-area: header;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
    position: fixed;
    z-index: 1000;
    right: 0;
}


header div{
	background-color:var(--bg-btn);
	border: 1px solid var(--br-btn);
	text-align: center;
	max-width: 100px;
	height: auto;
	word-wrap: break-word;
    font-size: var(--font-size);
	color: var(--color);
}

header div:hover{
	width: 80px;
	border: 2px dashed var(--br-btn);
}

main {
	grid-area: content;
}

.container-portfolio{
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer{
	background-color: rgb(0, 85, 11);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer h2,h5{
    margin-block-start: 0;
    margin-block-end: 0;
    text-align: center;
}
.swiper {
    max-width: 600px;
    max-height: 300px;
    margin: 10px auto;
  }

.swiper-wrapper{

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img{
    width: 100%;
    height: auto;
}

.section-img{
    max-width: 150px;
    max-height: auto;
    
}

.section-img img {
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    object-fit: cover;
}

.container-typed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.container-about-me{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.text-about-me{
    margin: 50px;
    max-width: 700px;
	text-align: justify;
}

.container-skills{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 30px;
}

.container-skills ul{
    max-width: 350px;
}

.card-skills{
    background: rgb(14, 105, 44);
    border-radius: 40px;
    box-shadow: 4px 4px 4px black;
}

.progress-bar{
    position:relative;
    width:200px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar-50{
    position:relative;
    width:200px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar-50::before{
    content:'';
    position:absolute;
    width: 50%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translate(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

.progress-bar-60{
    position:relative;
    width:200px;
    height: 20px;
    background-color: aliceblue;
    border-radius: 2em;
    overflow: hidden;
}

.progress-bar-60::before{
    content:'';
    position:absolute;
    width: 60%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translate(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

.progress-bar::before{
    content:'';
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: var(--bar-color);
    transform: translate(-100%);
    animation: fill-bar 0.8s 0.3s ease-in-out forwards;
}

.container-button{
	display:flex;
	justify-content:center;
	align-items:center;
	width:100%;
}

.button-download{
    background: green;
    color: white;
    border-radius: 30px;
    padding: 10px;
    cursor:pointer;
	border: 1px solid #129f12;
    box-shadow: 3px 3px 3px black;
}

.button-download:hover{
    background: grey;
    color: Black;
   font-size:16px;
}

@keyframes fill-bar{
    to {
        transform: translate(var(--fill-size));
    }
}

@media (width < 600px){
    .container-about-me{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.sotial-network a{
    color: white;
}

.sotial-network a:hover{
    font-size: 18px;
}

.divider{
    background: green;
    width: 100px;
    height: 3px;
}

.section-img-contact{
    max-width: 250px;
    margin: 10px;
	display:flex;
	justify-content:center;
	align-items:bottom;
}

.section-img-contact img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
	mask-image: linear-gradient(black 65%,transparent);
}


.container-contact{
    display: flex;
}

.footer-content h2,h5{
    font-weight: 40;
}

.contact-form h4{
    font-weight: 40;
}

.contact-form a{
    cursor: pointer;
    color: var(--color);
}

.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form > a:hover{
	font-size:18px;
}
